@model MVC.Models.HelloName
<link rel="stylesheet" href="css/site.css">
<div class="center-outer">
    <h1 class="center-inner">Hello @Html.DisplayFor(model => MVC.Models.HelloName.Name)</h1>
</div>

