
<link rel="stylesheet" href="css/site.css">

<div class="center-outer">
    <form class="center-inner" method="get">
        <h2>Enter name</h2>
        <input type="text" required id="name" name="name">
        <input type="submit" value="Enter">
    </form>
    
</div>

